a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
    color: #f11;
}

nav {
    background-color: #48b;
    width: 620px;
    height: 30px;
}

nav ul {
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 20px;
    background-color: #ccc;
    width: 100px;

    display: block;
    text-align: center;
    padding: 4px;
    color: #FFF;
}

nav ul li a:hover {
    background-color: #FFF;
    color: #f11;
    text-shadow: 1px 1px 2px #ccc;
}