* {
    margin: 0;
    padding: 0;
}

#sim {
    padding-top: 30px;
}

header {
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: #ffcc22;
    width: 900px;
    height: 120px;
    text-align: center;
}
h1 {
    padding-top: 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #f11;
}

nav {
    background-color: #48b;
    width: 900px;
    height: 40px;
}

nav ul {
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 20px;
    width: 100px;
    display: block;
    text-align: center;
    padding: 10px 40px 10px 40px;
    color: #FFF;
}

nav ul li a:hover {
    background-color: #FFF;
    color: #f11;
    text-shadow: 1px 1px 2px #ccc;
}
main {
    background-color: #fff;
    width: 550px;
    height: 400px;
    float: left;
}

aside {
    background-color: #ccf1BB;
    width: 350px;
    height: 400px;
    float: right;
}

footer {
    background-color: #ffcc22;
    width: 900px;
    height: 40px;
    clear: both;
    
}


h2 {
    color: #22c;
    font-size: 26px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

h3 {
    color: #22c;
    font-size: 26px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

main p {
    padding-right: 10px;
    padding-left: 10px;
}
aside p {
    padding-right: 10px;
    padding-left: 10px;
}

footer p {

    font-style: italic;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 0px;
}

#tudo {
    width: 900px;
    border: 1px solid black;
    margin: auto;
    font-family: sans-serif;
}
